@use "../../index";

.card {
	position: relative;
	padding: 0;
	margin: 0;
	display: grid; 
	grid-template-columns: repeat(2, 2fr);
	margin-bottom: 3rem;

	/* Reversing order every each other card */
	@for $i from 1 through 4 {
		&.card#{$i} {
			@if $i % 2 != 0 {
				.card-image {
					order: -1;
				}

				.card-text-area {
					order: 1;
					
					h4 {
						text-align: right;
					}

					.card-highlight-area {
						margin-left: -10rem;
						text-align: right;

						.card-link-icons {
							a {
								padding-right: 0;
								padding-left: 1rem;
							}
						}
					}

					ul {
						text-align: right;
					}
				}
			} @else {
				.card-image {
					order: 1;
				}

				.card-text-area {
					order: -1;

					h4 {
						text-align: left;
					}

					.card-highlight-area {
						margin-right:-10rem;
						text-align: left;
					}

					ul {
						text-align: left;

						li {
							padding: 0 1rem 0 0; 
						}
					}
				}
			}
		}
	}


	.card-image {	
		overflow: hidden;
		max-width: 450px;

		&:hover {
			img {
				--_i: 10%;
				filter: contrast(100%);
				transform: scale(1.3);
			}

			.hover-text {
				width: 25%;
				bottom: 20px;
			}
		}

		img {
			@include index.easeOut;
			position: relative;
			width: 450px;
			height: 250px;
			object-fit: cover;
			--_gradient: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
			--mask:
			    left   var(--_i,0%) top    var(--_gradient),
			    bottom var(--_i,0%) left   var(--_gradient),
			    top    var(--_i,0%) right  var(--_gradient),
			    right  var(--_i,0%) bottom var(--_gradient);
			-webkit-mask: var(--mask);
		          	mask: var(--mask);
			filter: contrast(50%);
		}
	}

	.card-text-area {
		max-width: 450px;

		h4 {
			text-transform: uppercase;
			font-size: 1.5rem;
			color: index.$tertiary-color;
			padding: 0;
		}
		
		.card-highlight-area {
			font-size: 1.2rem;
			align-self: start;
			border-radius: 5px;
			background: lighten(index.$tertiary-color, 25.0);
			padding: 1rem;
			z-index: 2;
			opacity: 0.95;

			.card-link-icons {
				a {
					@include index.easeOut;
					font-size: 1.5rem;
					color: index.$on-secondary-color;
					padding-right: 1rem;

					&:hover {
						color: lighten(index.$on-secondary-color, 15.0);
					}
				}
			}
		}

		ul {
			list-style: none;
			padding: 0.5rem 0;

			li {
				color: index.$on-secondary-color;
				display: inline;
				padding-left: 1rem;
			}
		}
	}
}

@include index.mediaMd {
	.card {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: wrap;

		.card-image {
			order: -1;
			display: block;
			max-width: 100%;
			flex-basis: 80%;
			
			.card-highlight-area {
				margin: 0rem;
			}
		}

		@for $i from 1 through 4 {
			&.card#{$i} { 
				.card-text-area {
					order: 1;
					display: block;
					max-width: 100%;
					flex-basis: 90%;

					.card-highlight-area {
						margin-right: 0rem;
						margin-left: 0rem;
					}
				}
			}
		}
	}
}

@include index.mediaSm {

}