@forward "./assets/scss/_config.scss";
@import-normalize;
@import './assets/scss/_config.scss';

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Source+Sans+3:wght@400;700&display=swap');

/* Custom CSS reset to add to normalize */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Condensed', sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans 3', sans-serif;
  overflow-wrap: break-word;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

#root, #__next {
  isolation: isolate;
}

body {
  background: $secondary-color;
}
