@import '../../assets/scss/_config.scss';

#nav {
	@include easeOut;
	min-height: 100vh;
	background: $primary-color;
	color: $on-primary-color;

	.logo {
		text-transform: uppercase;
		text-align: center;
		height: 60px;
		line-height: 60px;
		font-size: 0.7rem;
		border-bottom: 1px solid darken($primary-color, 5.0);;
	}

	.navbar.expanded {
		width: 300px;
	}

	.navbar.collapsed {
		width: 100px;

		.navbar-link.link {
			display: none;
		}
	}

	.navbar {
		font-size: 1.2rem;
		text-transform: uppercase;
		margin-top: 2rem;

		.navbar-links {
			padding: 0;
			list-style: none;
			
			a {
				text-decoration: none;
				color: $on-primary-color;

				li {
					@include easeOut;
					padding: 0.5rem 2rem;

					&:hover {
						background: darken($primary-color, 2.0);
						color: $tertiary-color;
						padding-left: 4rem;
					}

					.navbar-link.link {
						padding-left: 1.5rem;
					}
				}
			}
		}
	}
}