@import '../assets/scss/_config.scss';

#contact {
	#content {
		background: $secondary-color;

		h3.large-header {
			@include pageHeader;
			text-align: left;
		}

		section {
			form {
				padding: 0 1rem 1rem 1rem;
			}
		}
	}
}