@use "../index";
#contact {
	#content {
		background:  index.$secondary-color;

		h3.large-header {
			@include index.pageHeader;

			text-align: left;
		}

		section {
			form {
				padding: 0 1rem 1rem 1rem;
			}
		}
	}
}