@import '../assets/scss/_config.scss';

#page {

	nav {
		max-width: 300px;
		min-height: 100vh;
		position: fixed;
	}

	main {
		width: 100%;
	}

	section {
		max-width: 800px;
		margin: 3rem auto;
	}
}