@import '../assets/scss/_config.scss';

#page {

	nav {
		max-width: 300px;
		min-height: 100vh;
		position: fixed;
	}

	main {
		width: 100%;

		#content {
			@include pageSetup;
			display: grid;
			grid-template-columns: 1fr 8fr 1fr;
			grid-template-areas: 
			'. section .';

			section {
				grid-area: section;
				margin: 3rem auto;
				padding: 0 3rem;
			}
		}
	}
}