@use "../index";

#page {

	nav {
		max-width: 300px;
		min-height: 100vh;
		position: fixed;
	}

	main {
		width: 100%;

		#content {
			@include index.pageSetup;
			display: grid;
			grid-template-columns: 1fr 8fr 1fr;
			grid-template-areas: 
			'. section .';

			section {
				grid-area: section;
				margin: 3rem auto;
			}
		}
	}
}

@include index.mediaLg {
	#page {
		main {
			#content {
				h3.large-header {
					font-size: 2.5rem;
				}					
			}			
		}
	}
}

@include index.mediaMd {
	#page {
		main {
			#content {
				grid-template-columns: 1rem 8fr 1rem;

				h3.large-header {
					font-size: 1.9rem;
				}					
			}			
		}
	}
}

@include index.mediaSm {
	#page {
		main {
			#content {
				h3.large-header {
					font-size: 1.4rem;
					text-align: left;
				}					
			}			
		}
	}
}