@use "../index";

#skills {
	#content {
		.skill-list {
			h3.large-header {
				@include index.pageHeader;
			}

			&.skills {
				max-width: 1000px;
				font-size: 6rem;
				padding: 0 1rem;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				column-gap: 1rem;
				row-gap: 2rem;
				color: index.$primary-color;

				.skill {
					align-self: flex-end;
					flex-basis: 13%;
					text-align: center;
					display: flex;
					flex-direction: column;
					gap: 0.5rem;

					.skill-text {
						font-size: 1rem;
						display: block;
					}

					img {
						max-height: 96px;
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}

@include index.mediaXL {
	#page {
		main {
			#content {
				.skill-list {
					&.skills {
						.skill {
							.skill-text {
								font-size: 1.3rem;
							}
						}						
					}

					h3.large-header {
						font-size: 2.5rem;
					}
				}
			}			
		}
	}
}

@include index.mediaLg {
	#page {
		main {
			#content {
				.skill-list {
					h3.large-header {
						font-size: 2.5rem;
					}
				}
			}			
		}
	}
}

@include index.mediaMd {
	#page {
		main {
			#content {
				.skill-list {
					h3.large-header {
						font-size: 1.9rem;
						text-align: left;
					}

					&.skills {
						font-size: 3rem;
						justify-content: flex-start;

						.skill {
							.skill-text {
								font-size: 1rem;
							} 

							img {
								width: 100%;
								height: auto;
							}
						}
					}
				}
			}			
		}
	}
}

@include index.mediaSm {
	#page {
		main {
			#content {
				.skill-list {
					h3.large-header {
						font-size: 1.2rem;
						text-align: left;
					}

					&.skills {
						font-size: 3rem;
						justify-content: flex-start;

						.skill {
							.skill-text {
								font-size: 0.8rem;
							}

							img {
								padding-top: 0;
								width: 100%;
								height: auto;
							}
						}
					}					
				}
			}			
		}
	}
}